<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>638636347038-fudohmlg372gei6154a909f9e9q6sj75.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.638636347038-fudohmlg372gei6154a909f9e9q6sj75</string>
	<key>API_KEY</key>
	<string>AIzaSyBpH4CGyNHU0-J9XZac95r8NCSXZSA4z3Y</string>
	<key>GCM_SENDER_ID</key>
	<string>638636347038</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseExample</string>
	<key>PROJECT_ID</key>
	<string>fir-example-bc7f8</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-example-bc7f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:638636347038:ios:21ec44df1cb81aeae7b58f</string>
</dict>
</plist>